<h3>Update Department</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="name">Department Reg No</label>
        <input type="text" class="form-control" id="dep_regNo" required [(ngModel)]="department.dep_regNo" name="dep_regNo">
    </div>

    <div class="form-group">
      <label for="name">Department Name</label>
      <input type="text" class="form-control" id="dep_name" required [(ngModel)]="department.dep_name" name="dep_name">
    </div>

    <div class="form-group">
      <label for="name">Department Status</label>
      <select class="form-control" id="dep_status" [(ngModel)]="department.dep_status" name="dep_status">
        <option value="false">Deactive</option>
        <option value="true">Active</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>