<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Department List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <td></td>
          <th>Department Reg No</th>
          <th>Department Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments | async; let i = index">
          <td>{{i+1}}</td>
          <td>{{department.dep_regNo}}</td>
          <td>{{department.dep_name}}</td>
          <td>{{department.dep_status}}</td>
          <td>
              <button (click)="deleteDepartment(department.dep_id)" class="btn btn-danger">Delete</button>
              <button (click)="updateDepartment(department.dep_id)" class="btn btn-success" style="margin-left: 10px">Update</button>
              <button (click)="departmentDetails(department.dep_id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    