<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Employee List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
        <thead>
            <tr>
            <td></td>
            <th>Employee Reg No</th>
            <th>Employee Name</th>
            <th>Employee Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | async; let i = index">
            <td>{{i+1}}</td>
            <td>{{employee.emp_regNo}}</td>
            <td>{{employee.emp_name}}</td>
            <td>{{employee.emp_phone}}</td>
            <td>
                <button (click)="deleteEmployee(employee.emp_id)" class="btn btn-danger">Delete</button>
                <button (click)="updateEmployee(employee.emp_id)" class="btn btn-success" style="margin-left: 10px">Update</button>
                <button (click)="employeeDetails(employee.emp_id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
    