<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee">
    <div>
        <label><b>Employee Reg No: </b></label> {{employee.emp_regNo}}
    </div>
    <div>
        <label><b>Employee Name: </b></label> {{employee.emp_name}}
    </div>
    <div>
        <label><b>Employee Gender: </b></label> {{employee.emp_gender}}
    </div> 
    <div>
        <label><b>Employee Address: </b></label> {{employee.emp_address}}
    </div> 
    <div>
         <label><b>Employee Phone: </b></label> {{employee.emp_phone}}
    </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>